<div class="relative h-screen bg-gradient-to-r from-teal-300 to-amber-300">
  <!-- <app-particula-nieve /> -->
  <div class="absolute inset-0 stars"></div>
  <div class="flex flex-col items-center justify-center h-full z-10">
    <h1 class="text-6xl font-bold text-white mb-4">
      Descubra la belleza de Honduras
    </h1>
    <p class="text-2xl text-white mb-8">
      Explore nuestras impresionantes maravillas naturales y nuestro rico
      patrimonio cultural
    </p>
    <div class="flex space-x-4">
      <button
        [routerLink]="['/dashboard/sites']"
        class="bg-white text-teal-300 font-medium py-2 px-4 rounded-lg hover:bg-gray-200"
        aria-label="Explorar"
      >
        Tu Viaje Comienza Aquí
      </button>
      <!-- <button
        class="bg-green-500 text-white font-medium py-2 px-4 rounded-lg hover:bg-green-600"
        aria-label="Acerca de"
      >
        Acerca de
      </button> -->
    </div>
  </div>
</div>
<!--  -->
<!-- <div class="bg-gray-900 py-16 text-white">
  <div
    class="container mx-auto px-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8"
  >
    <app-card1 *ngFor="let tipo of tipos" [title]="tipo"> </app-card1>
  </div>
</div> -->

<div class="bg-gray-900 py-16 text-white w-full">
  <!-- <app-particle /> -->
  <div
    class="container mx-auto px-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8"
  >
    <app-card1 *ngFor="let tipo of tipos" [title]="tipo"> </app-card1>
  </div>
</div>

<!--  -->
<div class="bg-gray-800 py-16 text-white scroll-smooth">
  <!-- <app-particle /> -->
  <div class="container mx-auto px-4 text-center">
    <h2 class="text-3xl font-bold mb-4">Explorar</h2>
    <div class="grid grid-cols-3 gap-8 mt-8">
      <div>
        <img
          src="https://res.cloudinary.com/dcbdrzhh1/image/upload/f_auto,q_auto/v1/qr/ugqmz6ggt2d2s9qnftid"
          alt="Guide"
          class="rounded-full mx-auto mb-2"
        />
        <h3 class="text-xl font-bold">El Picacho</h3>
        <p class="text-gray-400">Tegucigalpa, Cerro El Picacho</p>
      </div>
      <div>
        <img
          src="https://res.cloudinary.com/dcbdrzhh1/image/upload/f_auto,q_auto/v1/qr/x0fzlgku2dtkk9xwhak9"
          alt="Guide"
          class="rounded-full mx-auto mb-2"
        />
        <h3 class="text-xl font-bold">Teatro Nacional Manuel Bonilla</h3>
        <p class="text-gray-400">Tegucigalpa, Barrio La Ronda</p>
      </div>
      <div>
        <img
          src="https://res.cloudinary.com/dcbdrzhh1/image/upload/f_auto,q_auto/v1/qr/he2a26wqeo4bqyhcvswv"
          alt="Guide"
          class="rounded-full mx-auto mb-2"
        />
        <h3 class="text-xl font-bold">Parque La Leona</h3>
        <p class="text-gray-400">Tegucigalpa, Centro Histórico</p>
      </div>
    </div>
  </div>
</div>

<!--  -->
<div class="bg-gray-900 py-16 text-white scroll-smooth">
  <div class="container mx-auto px-4 text-center">
    <h2 class="text-3xl font-bold mb-4">Servicios</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mt-8">
      <div class="bg-gray-800 p-4 rounded-lg">
        <img
          class="w-8 h-8 rounded-full mx-auto mb-2 group-hover/edit:translate-x-0.5 group-hover/edit:text-slate-500"
          src="https://res.cloudinary.com/dcbdrzhh1/image/upload/f_auto,q_auto/v1/qr/icon/y46mnvbxoefeq1tipgh3"
          alt="AMDC"
        />
        <h3 class="text-xl font-bold mb-2">Transportes</h3>
        <p class="text-gray-400">Ver los transportes</p>
      </div>
      <div class="bg-gray-800 p-4 rounded-lg">
        <img
          class="w-8 h-8 rounded-full mx-auto mb-2 group-hover/edit:translate-x-0.5 group-hover/edit:text-slate-500"
          src="https://res.cloudinary.com/dcbdrzhh1/image/upload/f_auto,q_auto/v1/qr/icon/ce8xq98dznng3fplmjkj"
          alt="AMDC"
        />
        <h3 class="text-xl font-bold mb-2">AMDC</h3>
        <p class="text-gray-400">Ir a la web</p>
      </div>
      <div class="bg-gray-800 p-4 rounded-lg">
        <img
          class="w-8 h-8 rounded-full mx-auto mb-2 group-hover/edit:translate-x-0.5 group-hover/edit:text-slate-500"
          src="https://res.cloudinary.com/dcbdrzhh1/image/upload/f_auto,q_auto/v1/qr/icon/syfkhvhqi9sabptkydbc"
          alt="AMDC"
        />
        <h3 class="text-xl font-bold mb-2">Linea 100</h3>
        <p class="text-gray-400">Reportes a la linea 100</p>
      </div>
      <div class="bg-gray-800 p-4 rounded-lg">
        <img
          class="w-8 h-8 rounded-full mx-auto mb-2 group-hover/edit:translate-x-0.5 group-hover/edit:text-slate-500"
          src="https://res.cloudinary.com/dcbdrzhh1/image/upload/f_auto,q_auto/v1/qr/icon/gqyhlnjv4duxfnmiwj1h"
          alt="AMDC"
        />
        <h3 class="text-xl font-bold mb-2">Emergencias</h3>
        <p class="text-gray-400">Reporte al 911</p>
      </div>
    </div>
  </div>
</div>

<footer class="p-4 bg-gray-800 text-center text-sm text-gray-500">
  <!-- <app-particle /> -->
  © 2024 AMDC. Todos los derechos reservados.
</footer>

<!-- <app-particle /> -->
<router-outlet></router-outlet>
