<section class="h-16 bg-black"></section>

<section class="overflow-hidden">
  <div class="w-full h-screen overflow-hidden bg-gray-900 relative particles">
    <video
      autoplay
      class="absolute w-auto min-w-full min-h-full max-w-none inset-0 opacity-30 transform rotate-180"
      loop
      id="video-background"
      poster=""
      muted
    >
      <source src="https://assets.codepen.io/2603/smoke.mp4" type="video/mp4" />
    </video>
    <div id="elements" class="w-full h-full absolute inset-0 text">
      <div
        class="flex absolute justify-end w-full h-full items-center pointer-events-none"
      >
        <div
          class="md:w-1/2 p-10 lg:p-20 pt-20 md:max-w-3xl rellax"
          data-rellax-speed="1"
        >
          <h1 class="font-sans text-white font-bold text-5xl mb-4">
            Master of Elements
          </h1>
          <p class="font-sans text-blue-50 text-md mb-4">
            Our <strong>Ether nD</strong>™ platform for enhanced chemical vapor
            deposition (CVD) orchastrates unprecedented control over the
            grain-size and purity of nanodiamond particles.
          </p>
          <p class="font-sans text-blue-50 text-md mb-6">
            This enables poly-diamond films to be deposited with grain sizes
            that are functionally equivalent to the original film thickness –
            and
            <span class="font-bold text-white">at a fraction of the cost</span>
            required by traditional techniques.
          </p>
          <p>
            <a
              href="#"
              class="font-extrabold transition pointer-events-auto bg-yellow-400 hover:bg-white px-4 py-2 text-xs uppercase shadow-2xl"
              >Learn more</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="h-4 bg-black"></section>

<section class="overflow-hidden">
  <div class="w-full h-screen overflow-hidden bg-red-900 relative particles">
    <video
      autoplay
      class="absolute w-auto min-w-full min-h-full max-w-none inset-0 opacity-20 transform rotate-180"
      loop
      id="video-background"
      poster=""
      muted
    >
      <source src="https://assets.codepen.io/2603/fire.mp4" type="video/mp4" />
    </video>
    <div id="fire" class="w-full h-full absolute inset-0 text">
      <div
        class="flex absolute justify-start w-full h-full items-center pointer-events-none"
      >
        <div
          class="md:w-1/2 p-10 lg:p-20 pt-20 md:max-w-3xl rellax"
          data-rellax-speed="1"
        >
          <h1 class="font-sans text-white font-bold text-5xl mb-4">
            Trialed by Fire
          </h1>
          <p class="font-sans text-red-100 text-md mb-4">
            The thermal characteristics and limitations of traditionally
            manufactured plastics and polymers no longer apply when combined
            with the solid additive of our <strong>Core nD</strong>™ nanodiamond
            formula.
          </p>
          <p class="font-sans text-red-100 text-md mb-6">
            This additive process is designed to bond and integrate with
            existing materials and manufacturing processes in a way that can
            actually improve tensile strength. The end result is products that
            run cooler and last longer, all
            <span class="font-bold text-white bg-opacity-10"
              >with no retooling or downtime</span
            >
            on the factory floor.
          </p>
          <p>
            <a
              href="#"
              class="font-extrabold transition pointer-events-auto bg-yellow-600 hover:bg-yellow-400 px-4 py-2 text-xs uppercase shadow-2xl"
              >Learn more</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="h-64 bg-black"></section>
<section class="h-64 bg-black"></section>
<section class="h-64 bg-black"></section>
<section class="h-64 bg-black"></section>
<section class="h-64 bg-black"></section>
<section class="h-64 bg-black"></section> -->
